/* Navbar */

header {
    margin: 0;
    padding: 0;
    margin: 40px;
    flex-direction: column;
}

.nav-preguntas {    
    margin: 0;
    margin-bottom: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.element-navbar-preguntas {

    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* align-items: center; */
    
    
    /* flex-direction: row;
    align-items: center; /* centra las imagenes en la caja 
     */
} 

.logo {
    position: absolute;
    height: 180px;
    width: 140px;
    left: 40px;
    top: 0px;
}

.decoracion {
    position: absolute;
    height: 225px;
    width: 207px;
    right: 0px;
    top: 0px;
}

@media (max-width: 400) {
    .logo {
        position: absolute;
        height: 70px;
        width: 30px;
        top: 0px;
    }

    .decoracion {
        position: absolute;
        background-size: 115px;
        width: 97px;
        right: 0px;
        top: 0px;
    }
    
}